<div class="container">
  <ul class="nav nav-pills nav-justified">
    <!-- steps is the property of CdkStepper and it can be accessed as we extend from the CdkStepper in our component -->
    <li class="nav-item" *ngFor="let step of steps; let i=index">
      <button
      (click)="onClick(i)"
      [class.active]="selectedIndex === i"
      class="nav-link py-3 text-uppercase font-weight-bold btn-block">
      {{step.label}}: {{step.completed}}
      </button>
    </li>
  </ul>
  <div>
    <ng-container [ngTemplateOutlet]="selected.content"></ng-container>

  </div>
</div>